@tailwind base;
/* @tailwind components; */
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --app-main-color: #222341;
  --app-sec-color: #404380;
  /* --app-sec-color-fade:  */
  --app-search-bg-color: #1e2333;
  --app-bg-color: #191a32;
  --app-bg-sec-color: #26284c;
  --app-input-bg-color: #151823;
  --app-text-color: #ffffff;
  --app-text-dim-color: #959595cc;
  --app-text-sec-color: #000000;
  --app-nav-link-color: #151823;
  --app-nav-active-color: #ffcc5b;
  --app-border-main-color: #3e51b5;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: var(--app-bg-color);
  /* color: rgb(var(--foreground-rgb)); */
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

.favourite-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 0.2s ease;
}

.info-container{
  position: absolute;
  bottom: 40px;
  right: 10px;
}

.xyz{
  position: absolute;
  right: 0;
  background-color: color-mix(in srgb, var(--app-sec-color) 80%, transparent);
  backdrop-filter: blur(10px);
  border-radius: 6px;
  overflow: hidden;

  color: var(--app-text-color);
  box-shadow: 0 2px 13px rgba(0,0,0,.095);
  z-index: 5;
  top: 100%;

  padding: 10px;
  width: max-content;
  max-width: 300px;
  scale: 0;
  transition: scale 0.3s ease;
  transform-origin: top right;
}

.info-container:hover .xyz{
  scale: 1;
}

.info_heading{
  font-weight: 600;
}

.info_description{
  font-size: 0.8em;
  padding-block: 0.3em;
}

.favourite-btn:hover{
  scale: 1.2;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 10px;
}