.game_card{
    position: relative;
    margin-bottom: 35px;
    /* height: 200px; */
}

.name{
    position: absolute;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.name h3{
    position: absolute;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}