@tailwind base;
/* @tailwind components; */
@tailwind utilities;

:root {
  --blue-dark: #151823;

  --app-main-color: #222341;
  --app-sec-color: #404380;
  --app-search-bg-color: #1e2333;
  --app-bg-color: #191a32;
  --app-bg-sec-color: #26284c;
  --app-input-bg-color: var(--blue-dark);
  --app-search-bg-color: var(--blue-dark);
  --app-text-color: #ffffff;
  --app-text-dim-color: #959595cc;
  --app-text-sec-color: #000000;
  --app-nav-link-color: var(--blue-dark);
  --app-nav-active-color: #ffcc5b;
  --app-border-main-color: #3e51b5;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0; */
  }
}

html, body{
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--app-bg-color);
  color: var(--app-text-color);
}

.page-wrapper{
  margin: 0 auto;
  max-width: 1300px;
  width: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  /* height: 0; */
}

::-webkit-scrollbar-thumb{
  background: #ccc;
  border-radius: 10px;
}

/* Media */

@media screen and (max-width: 1330px) {
  .page-wrapper{
    margin-top: 10px;
    padding-inline: 10px;
  }
}

@media screen and (max-width:660px) {

  .page-wrapper{
    padding-inline: 2px;
  }

  .responsive-category-container{
    border: none;
    background-color: transparent;
    padding: 0 2px;
  }

  .category-title-container{
    padding-inline: 5px;
    font-size: 1.2em;

    .next-title{
      font-size: 0.6em;
    }
    .next-img{
      width: 20px;
    }
  }
}